@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body {
  overflow-x: hidden;
}
@keyframes fade-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lightframes {
  0% {
    background-color: rgba(0,0,0,0);
  }
  100% {
    background-color: rgba(0,0,0,0.7);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

// Animation helper classes

.anim-up {
  opacity: 0;
  animation-duration: 0.75s;
  animation-name: fade-up;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.anim-down {
  opacity: 0;
  animation-duration: 0.75s;
  animation-name: fade-down;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.anim-right {
  opacity: 0;
  animation-duration: 0.75s;
  animation-name: slide-right;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.anim-left {
  opacity: 0;
  animation-duration: 0.75s;
  animation-name: slide-left;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.anim {
  animation-play-state: paused;
}
.delay-025 {
  animation-delay: 0.25;
}
.delay-05 {
  animation-delay: 0.5s;
}
.delay-075 {
  animation-delay: 0.75s;
}
.delay-1 {
  animation-delay: 1s;
}
// Teal
$teal-200: #80CBC4;
$teal-300: #4DB6AC;
$teal-400: #26A69A;
$teal-500: #009688;
$teal-600: #00897B;
$teal-700: #00796B;
$teal-800: #00695C;
$teal-900: #004D40;

// Grey
$grey-100: #f5f5f5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;

// Transitions
$trans: all 0.25s ease-out;
$trans-nav: all 0.25s ease-out;

// Shadows
$shadow: 0px 0px 11px rgba(0,0,0,0.25);
$shadow-dark: 0px 0px 15px rgba(0,0,0,0.5);

// Borders
$main-border: solid 10px $teal-500;

*, *:before, *:after {
  box-sizing: border-box;
}
figure {
  margin: 0;
}
::-moz-selection {
  color: white;
  background-color: $teal-300;
}

::selection {
  color: white;
  background-color: $teal-300;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  border: 1px solid $grey-300;
}

body::-webkit-scrollbar-thumb {
  background-color: $teal-500;
}


#nav-icon {
  font-size: 2em;
  padding: 0.2em;
}
#transparent-overlay {
  z-index: 9;
  display: none;
  top:0;
  left:0;
  height: 100vh;
  position: fixed;
  width: 100%;
  background-color: rgba(0,0,0,0.25);
}
a {
  color: $teal-500;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  main {

    flex: 1;
  }
}
main {
  margin-top: 80px;
}
h1,h2,h3 {
  font-weight: 700;
  color: $teal-500;
}
img {
  //max-width: 100%;
  height: auto;
}
header {
  background-image: linear-gradient($teal-400, $teal-900);
  // background-image: linear-gradient(#00d9a2, #004d3a);
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #header-logo-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //animation
    animation-duration: 0.75s;
    animation-name: fade-up;
    animation-timing-function: ease-out;
  }

  img {
    max-height: 250px;
    margin-bottom: 10px;
  }
  h1 {
    color: white;
    font-weight: 700;
    margin: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
  }
  h2 {
    $spacing: 0.52em;
    color: white;
    margin: 0;
    letter-spacing: $spacing;
    padding-left: $spacing;
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
  }
}

nav {
  top: 0;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: $shadow-dark;
  a,i {
    max-width: 80em;
    transition: $trans;
    padding: 0.5em;
    color: $teal-500;
    margin: 0.25em 0.5em;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover:not(#nav-logo),i:hover {
    text-decoration: none;
    transition: $trans;
    background-color: #EEEEEE;
    color: $teal-300;
    cursor: pointer;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #menu {
    display: none;
  }
}
nav.large {
  transition: $trans-nav;
  height: 80px;
  img {
    transition: $trans-nav;
    height: 70px;
  }
}
nav.small {
  transition: $trans-nav;
  height: 60px;
  img {
    transition: $trans-nav;
    height: 55px;
  }
}
.thin-teal{
  color: $teal-700;
  font-weight: 300;
  font-size: 1.6em;
}
article {
  h2 {
    margin: 0;
  }
  max-width: 70em;
  margin-top: 25px;
}
.contact-me {
  margin: 0 auto;
  margin-top: 120px;
  // animation
  animation-duration: 0.75s;
  animation-name: fade-up;
  animation-timing-function: ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    text-transform: uppercase;
  }
  form {
    width: 95%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    input{
      margin: 10px 0;
      height: 40px;
      width: 100%;
      padding: 0.5em;
      transition: $trans;
    }
    textarea {
      width: 100%;
      margin: 10px 0;
      height: 100px;
      padding: 0.5em;
      transition: $trans;
    }
    textarea,input{
      border: 1px solid $grey-300;
    }
    input:focus, textarea:focus {
      outline: 0;
      box-shadow: 0 0 11px $teal-300;
      transition: $trans;
    }
    input[type="submit"] {
      background-color: $teal-500;
      border: 0;
      color: white;
      height: 40px;
      width: 85px;
      transition: $trans;
    }
    input[type="submit"]:hover {
      outline: 0;
      background-color: $teal-700;
      transition: $trans;
      cursor: pointer;
    }
  }
}
#heart {
  font-size: 1.25em;
}
footer {
  margin-top: 50px;
  #top {
    background-color: $teal-500;
    padding-right: 1em;
    padding-left: 1em;
  }
  #bottom {
    background-color: $teal-600;
    font-size: 0.9em;
  }
  #top,#bottom{
    width:100%;
  }
  color: white;
  width: 100%;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  a {
    text-decoration: none;
    color: white;
  }
  a::selection,p::selection,span::selection{
    background-color: white;
    color: white;
  }
}

.about-me {
  padding: 1em;
  margin: 25px auto;
  text-align: center;
  max-width: 50em;

  // animation
  animation-duration: 0.5s;
  animation-name: fade-up;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  opacity: 0;

  animation-fill-mode: forwards;
  p {
    line-height: calc(1em*1.5);
  }
  h2 {
    font-size: 2.7em;
  }
}

.row-reverse {
  display: flex;
  justify-content: center !important;
  img {
    margin: 2em;
    box-shadow: $shadow;
  }
  flex-direction: row-reverse;
}
.row {
  text-align: right;
  display: flex;
  justify-content: center !important;
  img {
    margin: 2em;
    box-shadow: $shadow;
  }

}
.project-article {
  // animation
  animation-duration: 0.5s;
  animation-name: slide-right;
  animation-timing-function: ease-out;
  p {
    line-height: calc(1em*1.5);
  }
  margin-right: 2em;
  max-width: 50em;
}
.preview {
  p {
    margin-bottom: 2em;
  }
  .btn {
    text-transform: uppercase;
    transition: $trans;
    background-color: transparent;
    padding: 0.5em 1em;
    color: $teal-500;
    border: 1px solid $teal-500;
  }
  .btn:hover {
    background-color: $teal-500;
    color: white;
    text-decoration: none;
  }
  img {
    max-width: 100% !important;
    height: auto !important;
  }
  padding: 1em;
  align-items: center;
  flex-wrap: nowrap;
  h1 {
    margin: 0;
    font-size: 2em;
    text-transform: uppercase;
  }
  small {
    font-weight: 300;
    font-size: 1.1em;
    letter-spacing: 0.25em;
    text-transform: uppercase;
  }
}
.truncate{
  max-width: 600px;
}
.truncate:after {
  content: "...";
}
.project {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 2em;
  h1 {
    margin: 0;
    font-size: 2em;
    text-transform: uppercase;
  }
  small {
    font-weight: 300;
    font-size: 1.1em;
    letter-spacing: 0.25em;
    text-transform: uppercase;
  }
  img {
    max-width: 100%;

  }
  .before-after {
    display: flex;
    flex-direction: column;
    align-items: center;
    // animation
    animation-duration: 0.5s;
    animation-name: slide-left;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: white;
      box-shadow: $shadow;
      border-top: $main-border;
      figcaption {
        font-weight: bold;
        color: dimgrey;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        align-items: center;
      }
    }
    .card:nth-child(2){
      margin-top: 18px;
    }
  }
}

@keyframes circle{
  from{
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(25);
    opacity: 1;
  }
}
.circle-anim {
  animation-name: circle;
  animation-duration: 2s;
  transition-timing-function: ease-out;
  animation-fill-mode: forwards;
  height: 200px;
  width: 200px;
  overflow: hidden;
  position: fixed;
  z-index: -1;
  overflow: hidden;
  border-radius: 50%;
  background-color: $teal-400;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1.circle {
  color: white;
  text-align: center;
}
a.white-button {
  transition: $trans;
  background-color: white;
  text-transform: uppercase;
  color: $teal-500;
  padding: 0.5em 1em;
}
a.white-button:hover{
  transition: $trans;
  background-color: $grey-300;
  text-decoration: none;
}
.vert-center {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
#resume-wrapper {
  // Animation
  animation-duration: 0.5s;
  animation-name: fade-up;
  animation-timing-function: ease-out;

  display: flex;
  align-items: center;
  flex-direction: column;
  #view-resume{
    background-color: $teal-500;
    transition: $trans;
    color: white;
    text-align: center;
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-weight: 700;
  }
  #view-resume:hover{
    text-decoration: none;
    background-color: $teal-700;
    transition: $trans;
  }
}
.resume {
  max-width: 50em;
  box-shadow: $shadow;
  padding: 2em;

  div.indent {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  #last-resume {
    margin-bottom: 1em;
  }

  h1 {
    text-transform: uppercase;
    text-align: center;
  }
  h3 {
    color: #212121;
  }
  .resume-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    small {
      color: $teal-500;
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
  max-width: 50em;
  margin: 2em 1em;
}
// Icon Animation
#line-1,#line-2,#line-3{
  transition: $trans;
  background-color: $teal-500;
  width: 25px;
  height: 2px;
}
#icon-wrap {
  cursor: pointer;
  margin-right: 1em;
  transition: $trans;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
div.iconClose {
  #line-1{
    transition: $trans;
    transform: rotate(45deg) translateY(10px);
    transform-origin: center;
  }
  #line-2{
    transition: $trans;
    opacity: 0;
  }
   #line-3{
     transition: $trans;
     transform-origin: center;
    transform: rotate(-45deg) translateY(-10px);
  }
}

.indent {
  padding-left: 40px;
}

/* ### My own version of lightbox I hand coded from scratch ### */
#light-button{

  transition: $trans;
  cursor: pointer;
  box-shadow: none;
}
#light-button:hover{
  transition: $trans;
  box-shadow: $shadow-dark;
}
.lightbox {
  padding: 5em;
  display: none;
  animation-name: lightframes;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;

  position: fixed;
  z-index: 20;
  background-color: rgba(0,0,0,0.7);
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  img {
    animation-name: fade-in;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;

    cursor: default;
    max-height: 100%;
  }
  .lightbox-close {
    background-color: transparent;
    color: white;
    font-size: 60px;
    border: 0;
    i {
      font-size: 2em;
    }
  }
}

@media screen and (max-width: 500px){
  .lightbox {
    padding: 1em;
  }
}

/* ##### RESPONSIVE ##### */

// Resume row responsive
@media screen and (max-width: 550px){
  .resume {
    .resume-row {
      flex-direction: column;
    }
  }
}


// Header Responsive
@media screen and (max-width: 460px){
  header {
    h2 {
      font-size: 1.1em;
    }
    h1 {
      font-size: 1.45em;
    }
    img {
      max-height: 150px;
    }
  }
  footer {
    #top {
      font-size: 0.9em;
    }
    #bottom {
      font-size: 0.7em;
    }
  }
}

// Header responsive
@media screen and (max-width: 460px){
  header {
    height: 400px;
  }
}

// Navbar responsive
@media screen and (max-width: 655px){
  nav {
    justify-content: space-between;
    #links {
      flex-direction: column;
      justify-content: flex-end;
      position: fixed;
      left: -310px;
      padding-top: 10px;
      border-top: $main-border;
      transition: $trans;
      top: 0px;
      background-color: white;
      box-shadow: $shadow;
      width: 300px;
      height: 100vh;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    #menu {
      display: inline;
    }
  }
}

// Extra small nav responsive
@media screen and (max-width: 375px){
  nav {
    #links {
      width: 200px;
    }
    #alexander-cardosi {
      display: none;
    }
  }
}

// Project responsive
@media screen and (max-width: 1396px){
  .project {
    flex-direction: column;
  }
  .project-article {
    margin-right: 0;
  }
}
@media screen and (max-width: 1340px){
  .row-reverse,.row {
    text-align: center;
    flex-direction: column;
  }
}

// Height based media query for making sure the header doesn't go beyond the screen height.
@media screen and (max-height: 500px){
  header {
    height: calc(100vh - 80px);
  }
}
